<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to assign Schedule activity more than one user.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Assign schedule activity more than one user.</li>
                <li style="font-weight:bold">user will receive live notification based on user notification settings.</li>
                <li style="font-weight:bold">User will receive live notification in odoo if activity schedule date is today date.</li>
                <li style="font-weight:bold">This module keep odoo standard activity flow same as it is and if multiple user assign to the activity
                then all user receive notification based on user notification setting.</li>
                <li style="font-weight:bold">You can see all assignee of the activity in odoo logs.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Schedule future activity with multiple users selected in activity.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Schedule today activity with multiple users.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In odoo logs you can see both the activity and its assign to 3 users.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see in user setting user Jecob and Edward notification setting is "Handle by Email" and user bella notification setting is "Handle in Odoo".</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the 4 emails of 2 activity and those two email sent out to the user jecob and edward.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the bella user receive notification in odoo.</li>
            </ul>
            <img style="max-width: 100%;" src="img_6.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see when user login they can see both future activity and today activity on his account.</li>
            </ul>
            <img style="max-width: 100%;" src="img_7.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">When user click on summary icon they can see all schedule activity in summary view.</li>
            </ul>
            <img style="max-width: 100%;" src="img_8.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>