<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allow to search based on log notes.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Search sale order using log notes.</li>
                <li style="font-weight:bold">Search customer invoice using log notes.</li>
                <li style="font-weight:bold">Search purchase order using log notes.</li>
                <li style="font-weight:bold">Search vendor bills using log notes</li>
                <li style="font-weight:bold">Search transfer using log notes.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Odoo standard log notes.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the log note search option in search view</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the search result.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;color:red">Same way it will work for purchase order, invoices, vendor bills and transfers.</li>
            </ul>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>