<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;">
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">E-Learning Extended</h2>
        <div>
            <h4>Features</h4>
            <ul>
            	<li style="font-weight:bold">In this module we change the website page of course.</li>
            	<li style="font-weight:bold">User can see the Price of that course in the course page.</li>
            	<li style="font-weight:bold">Also on the Course Page when we take the cursor on course it will open one Popup and then we can read the Information of that Course on that Popup.</li>
            	<li style="font-weight:bold">Inside the Perticular course you can check the description of that Course and You also check What will you learn from this Course.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">When the course is Sell on E-learning then you can see the Price on Course Page.</li>
            </ul>
            <img style="max-width: 100%;" src="price_display_on_course.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">When you move your mouse curser on perticular course then It will open one popup and inside that popup it will display the detail of that perticular course.</li>
            </ul>
            <img style="max-width: 100%;" src="course_popover.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside eLearning -> Courses, Inside that On Information tab you can add the Course Requirement and What will you learn from this Course based on this configuration it will reflet on the website in this Perticular course.</li>
            </ul>
            <img style="max-width: 100%;" src="course_description_backend.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside the Website in Courses page when you can Go into the perticular course and If this Course type Documentation then It will show the Course requirement and What will you learn from this Course.</li>
            </ul>
            <img style="max-width: 100%;" src="course_type_documentation.png"><br /><br/>
            <img style="max-width: 100%;" src="description_on_website.png"><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil?up_rollout=true" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>