<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to scan multiple lot/serial number in odoo delivery order and internal transfer and stop the automated reservation of lot/serial number. this module help to make your inventory process faster.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Allow to scan multiple lot/serial number at a time.</li>
                <li style="font-weight:bold">Allow to add multiple lot/serial number manually at a time.</li>
                <li style="font-weight:bold">Stop automated reservation of lot/serial number based on FIFO,LIFO, FEFO</li>
                <li style="font-weight:bold">This module allows you to select lot/serial number manually.</li>
                <li style="font-weight:bold">Video : <a href="https://drive.google.com/file/d/1LBkTSn9LdYL17h4Z62hezUZZHx_yDriY/view?usp=sharing">Click here</a></li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Product with serial available serial number</li>
            </ul>
            <img style="max-width: 100%;" src="img1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see sale order created for laptop product with 4 quantity.</li>
            </ul>
            <img style="max-width: 100%;" src="img2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Now on the sale order delivery you can see that its on waiting we have product stock but it will not reserve any item by default. if you wish to use odoo default flow you can just click on "Check Availability" button it will reserve product based on your product category removal stratagy.</li>
            </ul>
            <img style="max-width: 100%;" src="img3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Now if you wish to select serial number manually or scan serial number you can click on operation tab icon and it will open the popup. now on the popup you can click add line one time and scan all product serial number at a time or enter manually.</li>

            </ul>
            <img style="max-width: 100%;" src="img4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">After scanning all serial number you just need to click outside the lines and it will generate all the product move lines with correct serial number.</li>
            </ul>
            <img style="max-width: 100%;" src="img5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Once you scan and confirm you just need to click the check availability button so it will reserve all the serial number which added manually or scanned.</li>
            </ul>
            <img style="max-width: 100%;" src="img6.png"/><br /><br/>
        	<ul>
                <li style="font-weight:bold;">Now you can see the correct serial number reserve on delivery order. now you can validate the delivery.</li>
            </ul>
            <img style="max-width: 100%;" src="img7.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>