<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allow to allocate compensatory hours in timeoff based on the employee timesheet.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Calculate the target hours of the current month based on the employee working hours.</li>
                <li style="font-weight:bold">Calculate the current month actual working hours based on employee timesheet.</li>
                <li style="font-weight:bold">Calculate current month compensatory hours.</li>
                <li style="font-weight:bold">Allocate current month compensatory hours in timeoff.</li>
                <li style="font-weight:bold">Multi company supported.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Set the employee working hours in employee form.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Properly configure the employee working hours and define the week off days.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Set the compensatory allocation type on employee form HR settings tab. This will be used at the time of compensantory hour allocation.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Allocation type should be in hours.</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you can see the timesheet of employee Ernest Reed. total working hours of timesheet is 172 hrs.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the calculation of compensatory hours in employee form based on the employee timesheet. employee Ernest Reed has total compensatory house 4.</li>
            </ul>
            <img style="max-width: 100%;" src="img_6.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Now to assign the compensatory hours you can click on the action Allocate Compensatory hours.</li>
            </ul>
            <img style="max-width: 100%;" src="img_7.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">After clicking on the action it will open the popup and you can selecte the date. note that you can select any date of the month and it will check the compensatory hours for that selected month of the date and if compensatory hours > 0 then it will allocated to the employee. </li>
            </ul>
            <img style="max-width: 100%;" src="img_8.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">After click on the confirm button it will allocate the compensatory hours to employee and employee can see this hours in his account. now employee can request for the timeoff for the compensantory hours.</li>
            </ul>
            <img style="max-width: 100%;" src="img_9.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">If allocation already done for any month then it will not allow to allocate compensatory hours again.</li>
            </ul>
            <img style="max-width: 100%;" src="img_10.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>