<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to send bulk sms using textmagic sms gateway.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">You can filter out your contacts and select more than one contacts to send the sms. this will very usefull when you want to send events or company news to all your customers.</li>
                <li style="font-weight:bold;color: red;">Before buying the module make sure Textmagic sms gateway served in your country.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">You can select contacts and click on actoin you will see the action Textmagic Text Message.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Once you click the Textmagic Text Message it will open the popup where you can add your message and click send button.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Once you click send button it will redirect you to the logs inside logs you can see the status of the sms.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside logs you can see the status if message successfully delivered you can see success message. If there is any errors you will see the error information.</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In Settings Technical you can see the menus Textmagic inside Textmagic config you need to set your credentials. inside textmagic logs menu you can see all the historic messages.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>