<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to fetch all shipping method cost at the time of adding shipping cost to the sale order. </h2>
        <p style="color:red">
            This module is very useful to compare shipping cost of all shipping carrier you are using. this module fetch all the shipping cost and listed in table so you can compare the
            shipping cost of various shipping provider. this way you can provide cheaper rate for the shipping to your customers. Also you don't need to select shipping method one by one and compare the
            cost it give all shipping method cost in one click so it will save your time.
        </p>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Allow to compare all shipping method cost in one click.</li>
                <li style="font-weight:bold">You can select cheaper rate for your customers.</li>
                <li style="font-weight:bold">Time saving using this module you will get all shipping method cost in one click so you don't need to check one by one cost of shipping method.</li>
                <li style="font-weight:bold;color:red">Multi-company supported.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">You can see the odoo default ADD SHIPPING button.</li>
            </ul>
            <img style="max-width: 100%;" src="image_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">On click on ADD SHIPPING button it will open a popup. You will notice delivery method selection removed from view and new button added GET RATES.</li>
            </ul>
            <img style="max-width: 100%;" src="image2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">On click on GATE RATES button it will check all shipping method available in system and fetch rate of every shipping method. if there is any warnings or errors while fetching rates you will see on screen.</li>
            </ul>
            <img style="max-width: 100%;" src="image4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Once all rates fetched you can select shipping method according to your need. it will allow to select one shipping method as per odoo standard. if there is any error while fetching shipping rates it will not allow to select that shipping method. Once you select shpping method you can simply click add button to apply shipping cost on sale order.</li>

            </ul>
            <img style="max-width: 100%;" src="image5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Shipping cost added to the sale order.</li>
            </ul>
            <img style="max-width: 100%;" src="image6.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>