<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to define multiple terms and condition for products on ecommerce website.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">You can create terms&Condition template for different products and customer must have to accept all terms and condition on website to pay the order.</li>
                <li style="font-weight:bold">This module very helpfull when you have terms and condition different for different product category.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">You can see Product Terms Condition menu under website configuration.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can create more than one term condition templates.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">On terms and conditions form view inside terms condition tab you can add your term&condition details.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">On the products tab you can add your products which apply the template. You can add as many product you want.</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">product added on products tab now when you add this product in cart and checkout on checkout page it will display this term and condtion template.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see two product added in cart which contain different terms and condition and it will show both term&condition template.</li>
            </ul>
            <img style="max-width: 100%;" src="img_9.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">When you click read more button it will show the exact details which is added in that term condition template.</li>
            </ul>
            <img style="max-width: 100%;" src="img_10.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">When you click read more button it will show the exact details which is added in that term condition template.</li>
            </ul>
            <img style="max-width: 100%;" src="img_11.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>